#map{
    height: 400px;
    width: 50%;
    margin-left: 60px;
    margin-bottom: 40px;
    box-shadow: 10px 9px 20px -11px rgba(0,0,0,0.75);
    border-radius: 4px 4px 4px 4px;
}

.logo {
    height: 80px;


}
main{
    box-shadow: 10px 9px 20px -11px rgba(0,0,0,0.75);
}